[Unit]
Description=Check the Malina Git branch for updates every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=10s
Persistent=true
Unit=malina-autodeploy.service

[Install]
WantedBy=timers.target
