TELEGRAM_BOT_TOKEN=your_bot_token_here
ADMIN_APPROVE_TOKEN=change_me_for_production
PORT=4174
HOST=127.0.0.1
APP_DATA_DIR=.
FINISH_REMINDER_MS=300000
MAX_UPLOAD_BYTES=8388608
MAX_REQUEST_BYTES=12582912
